In [210]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = './formatted/combined_formatted.csv'
df = pd.read_csv(file_path)

In [211]:
df[df['Player-additional'] == "mingya01"]

,Player,Player-additional,League,Season,Home Continent,Home Country,Home City,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty
1692,Yao Ming,mingya01,NBA,2002-03,Asia,China,Shanghai,8.7:40.3448275862069 1.0:100.0,1104.0:27.401340282948624 137.0:11.76975945017...,147.0:32.23684210526316 31.0:10.29900332225913...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1693,Yao Ming,mingya01,NBA,2003-04,Asia,China,Shanghai,11.4:49.6551724137931 1.0:100.0,1431.0:35.5174981384959 122.0:10.4810996563573...,156.0:34.21052631578947 22.0:7.308970099667774...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1694,Yao Ming,mingya01,NBA,2004-05,Asia,China,Shanghai,10.7:47.241379310344826 1.0:100.0,1465.0:36.36137999503599 61.0:5.24054982817869...,160.0:35.08771929824562 34.0:11.29568106312292...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1695,Yao Ming,mingya01,NBA,2005-06,Asia,China,Shanghai,8.6:40.0 1.0:100.0,1271.0:31.546289401836685 85.0:7.3024054982817...,94.0:20.614035087719298 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1696,Yao Ming,mingya01,NBA,2006-07,Asia,China,Shanghai,7.4:35.86206896551724 1.0:100.0,1202.0:29.833705634152395 94.0:8.0756013745704...,94.0:20.614035087719298 17.0:5.647840531561462...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1697,Yao Ming,mingya01,NBA,2007-08,Asia,China,Shanghai,8.3:38.96551724137931 1.0:100.0,1209.0:30.007446016381238 129.0:11.08247422680...,111.0:24.342105263157894 25.0:8.30564784053156...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1698,Yao Ming,mingya01,NBA,2008-09,Asia,China,Shanghai,10.6:46.89655172413793 1.0:100.0,1514.0:37.577562670637874 137.0:11.76975945017...,150.0:32.89473684210526 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1699,Yao Ming,mingya01,NBA,2010-11,Asia,China,Shanghai,0.3:11.379310344827585 1.0:100.0,51.0:1.2658227848101267 4.0:0.3436426116838488...,8.0:1.7543859649122806 0.0:0.0 20.0:1.80018001...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185

### Checking countries

In [212]:
condition = df['Home Country'].isna() & (df['League'] == 'NFL')

# Drop these rows from the dataframe
print(len(df))
df = df.drop(df[condition].index)
print(len(df))

82551
50501

In [213]:
df[df['Player-additional'] == "mingya01"]

,Player,Player-additional,League,Season,Home Continent,Home Country,Home City,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty
1692,Yao Ming,mingya01,NBA,2002-03,Asia,China,Shanghai,8.7:40.3448275862069 1.0:100.0,1104.0:27.401340282948624 137.0:11.76975945017...,147.0:32.23684210526316 31.0:10.29900332225913...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1693,Yao Ming,mingya01,NBA,2003-04,Asia,China,Shanghai,11.4:49.6551724137931 1.0:100.0,1431.0:35.5174981384959 122.0:10.4810996563573...,156.0:34.21052631578947 22.0:7.308970099667774...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1694,Yao Ming,mingya01,NBA,2004-05,Asia,China,Shanghai,10.7:47.241379310344826 1.0:100.0,1465.0:36.36137999503599 61.0:5.24054982817869...,160.0:35.08771929824562 34.0:11.29568106312292...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1695,Yao Ming,mingya01,NBA,2005-06,Asia,China,Shanghai,8.6:40.0 1.0:100.0,1271.0:31.546289401836685 85.0:7.3024054982817...,94.0:20.614035087719298 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1696,Yao Ming,mingya01,NBA,2006-07,Asia,China,Shanghai,7.4:35.86206896551724 1.0:100.0,1202.0:29.833705634152395 94.0:8.0756013745704...,94.0:20.614035087719298 17.0:5.647840531561462...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1697,Yao Ming,mingya01,NBA,2007-08,Asia,China,Shanghai,8.3:38.96551724137931 1.0:100.0,1209.0:30.007446016381238 129.0:11.08247422680...,111.0:24.342105263157894 25.0:8.30564784053156...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1698,Yao Ming,mingya01,NBA,2008-09,Asia,China,Shanghai,10.6:46.89655172413793 1.0:100.0,1514.0:37.577562670637874 137.0:11.76975945017...,150.0:32.89473684210526 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1699,Yao Ming,mingya01,NBA,2010-11,Asia,China,Shanghai,0.3:11.379310344827585 1.0:100.0,51.0:1.2658227848101267 4.0:0.3436426116838488...,8.0:1.7543859649122806 0.0:0.0 20.0:1.80018001...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185

### Player column nan

In [214]:
# Count the number of missing values in the 'player' column
df[df['Player'].isnull()]

Empty DataFrame
Columns: [Player, Player-additional, League, Season, Home Continent, Home Country, Home City, Overall Value, Offensive Performance, Defensive Performance, Biometrics, Migration Difficulty]
Index: []

In [215]:
# Drop rows where 'player' column has NaN values
df = df.dropna(subset=['Player'])

### Overall Value nan

In [216]:
df[df['Overall Value'].isnull()]

Empty DataFrame
Columns: [Player, Player-additional, League, Season, Home Continent, Home Country, Home City, Overall Value, Offensive Performance, Defensive Performance, Biometrics, Migration Difficulty]
Index: []

In [217]:
df[df['Player-additional'] == "mingya01"]

,Player,Player-additional,League,Season,Home Continent,Home Country,Home City,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty
1692,Yao Ming,mingya01,NBA,2002-03,Asia,China,Shanghai,8.7:40.3448275862069 1.0:100.0,1104.0:27.401340282948624 137.0:11.76975945017...,147.0:32.23684210526316 31.0:10.29900332225913...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1693,Yao Ming,mingya01,NBA,2003-04,Asia,China,Shanghai,11.4:49.6551724137931 1.0:100.0,1431.0:35.5174981384959 122.0:10.4810996563573...,156.0:34.21052631578947 22.0:7.308970099667774...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1694,Yao Ming,mingya01,NBA,2004-05,Asia,China,Shanghai,10.7:47.241379310344826 1.0:100.0,1465.0:36.36137999503599 61.0:5.24054982817869...,160.0:35.08771929824562 34.0:11.29568106312292...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1695,Yao Ming,mingya01,NBA,2005-06,Asia,China,Shanghai,8.6:40.0 1.0:100.0,1271.0:31.546289401836685 85.0:7.3024054982817...,94.0:20.614035087719298 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1696,Yao Ming,mingya01,NBA,2006-07,Asia,China,Shanghai,7.4:35.86206896551724 1.0:100.0,1202.0:29.833705634152395 94.0:8.0756013745704...,94.0:20.614035087719298 17.0:5.647840531561462...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1697,Yao Ming,mingya01,NBA,2007-08,Asia,China,Shanghai,8.3:38.96551724137931 1.0:100.0,1209.0:30.007446016381238 129.0:11.08247422680...,111.0:24.342105263157894 25.0:8.30564784053156...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1698,Yao Ming,mingya01,NBA,2008-09,Asia,China,Shanghai,10.6:46.89655172413793 1.0:100.0,1514.0:37.577562670637874 137.0:11.76975945017...,150.0:32.89473684210526 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1699,Yao Ming,mingya01,NBA,2010-11,Asia,China,Shanghai,0.3:11.379310344827585 1.0:100.0,51.0:1.2658227848101267 4.0:0.3436426116838488...,8.0:1.7543859649122806 0.0:0.0 20.0:1.80018001...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185

In [218]:
def column_name_to_initials(column_name):
    return ''.join([word[0] for word in column_name.split()]).upper()

In [219]:
import numpy as np


# Define the columns to be split
columns_to_split = ['Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']

# Loop through each column, split by ' ' to separate entries, then split by ':' to create subcolumns
for column in columns_to_split:
    # Fill empty strings '' with nan values
    df[column] = df[column].replace('', np.nan)
    # Handle missing values by replacing them with a placeholder that ensures proper splitting
    df[column] = df[column].fillna(': ')
    
    # Split into initial parts
    sub_cols = df[column].str.split(' ', expand=True)
    
    for i in range(sub_cols.shape[1]): 
        # Create names for the sub-columns
        sub_col_name = f'{column_name_to_initials(column)}: {i+1}'
        sub_col_score_name = f'{column_name_to_initials(column)}: {i+1} score'
        
        # Split each part into value and score
        df[[sub_col_name, sub_col_score_name]] = sub_cols[i].str.split(':', expand=True)

        # Handle conversion to float for the score columns and ignore the value columns
        try:
            # df[sub_col_score_name] = df[sub_col_score_name].fillna(0.0)
            df[sub_col_score_name] = pd.to_numeric(df[sub_col_score_name], errors='coerce')
            df[sub_col_score_name] = df[sub_col_score_name].astype(float).round(1)
        except ValueError:
            print(f'Error converting {sub_col_score_name} to float')

    # Compute the average of the score marked subcolumns for each main column
    score_subcolumns = [f'{column_name_to_initials(column)}: {j+1} score' for j in range(sub_cols.shape[1])]
    print("score_subcolumns:", score_subcolumns)
    df[column] = df[score_subcolumns].mean(axis=1, skipna=True).round(1)

score_subcolumns: ['OV: 1 score', 'OV: 2 score']
score_subcolumns: ['OP: 1 score', 'OP: 2 score', 'OP: 3 score', 'OP: 4 score', 'OP: 5 score', 'OP: 6 score']
score_subcolumns: ['DP: 1 score', 'DP: 2 score', 'DP: 3 score', 'DP: 4 score', 'DP: 5 score', 'DP: 6 score', 'DP: 7 score', 'DP: 8 score', 'DP: 9 score', 'DP: 10 score']
score_subcolumns: ['B: 1 score', 'B: 2 score']
score_subcolumns: ['MD: 1 score', 'MD: 2 score']

In [220]:
df[df['Player-additional'] == "mingya01"]

,Player,Player-additional,League,Season,Home Continent,Home Country,Home City,Overall Value,Offensive Performance,Defensive Performance,...,DP: 10,DP: 10 score,B: 1,B: 1 score,B: 2,B: 2 score,MD: 1,MD: 1 score,MD: 2,MD: 2 score
1692,Yao Ming,mingya01,NBA,2002-03,Asia,China,Shanghai,70.2,19.2,28.4,...,None,NaN,228.6,96.5,310.0,78.0,zh,1.0,9899.698676956645,0.5
1693,Yao Ming,mingya01,NBA,2003-04,Asia,China,Shanghai,74.8,22.5,29.8,...,None,NaN,228.6,96.5,310.0,78.0,zh,1.0,9899.698676956645,0.5
1694,Yao Ming,mingya01,NBA,2004-05,Asia,China,Shanghai,73.6,20.6,29.5,...,None,NaN,228.6,96.5,310.0,78.0,zh,1.0,9899.698676956645,0.5
1695,Yao Ming,mingya01,NBA,2005-06,Asia,China,Shanghai,70.0,23.1,28.1,...,None,NaN,228.6,96.5,310.0,78.0,zh,1.0,9899.698676956645,0.5
1696,Yao Ming,mingya01,NBA,2006-07,Asia,China,Shanghai,68.0,25.0,26.0,...,None,NaN,228.6,96.5,310.0,78.0,zh,1.0,9899.698676956645,0.5
1697,Yao Ming,mingya01,NBA,2007-08,Asia,China,Shanghai,69.5,25.0,29.1,...,None,NaN,228.6,96.5,310.0,78.0,zh,1.0,9899.698676956645,0.5
1698,Yao Ming,mingya01,NBA,2008-09,Asia,China,Shanghai,73.4,25.0,31.9,...,None,NaN,228.6,96.5,310.0,78.0,zh,1.0,9899.698676956645,0.5
1699,Yao Ming,mingya01,NBA,2010-11,Asia,China,Shanghai,55.7,6.7,10.2,...,None,NaN,228.6,96.5,310.0,78.0,zh,1.0,9899.698676956645,0.5

In [221]:
for column in score_subcolumns:
    print(f"{column}: {df[column].isna().sum()}")

MD: 1 score: 391
MD: 2 score: 391

In [222]:
df.head()

,Player,Player-additional,League,Season,Home Continent,Home Country,Home City,Overall Value,Offensive Performance,Defensive Performance,...,DP: 10,DP: 10 score,B: 1,B: 1 score,B: 2,B: 2 score,MD: 1,MD: 1 score,MD: 2,MD: 2 score
0,Alaa Abdelnaby,abdelal01,NBA,1990-91,Africa,Egypt,Cairo,6.0,3.1,4.6,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5
1,Alaa Abdelnaby,abdelal01,NBA,1991-92,Africa,Egypt,Cairo,8.8,7.0,10.0,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5
2,Alaa Abdelnaby,abdelal01,NBA,1992-93,Africa,Egypt,Cairo,8.6,8.5,11.5,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5
3,Alaa Abdelnaby,abdelal01,NBA,1993-94,Africa,Egypt,Cairo,5.0,3.3,5.3,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5
4,Alaa Abdelnaby,abdelal01,NBA,1994-95,Africa,Egypt,Cairo,5.7,4.6,6.1,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5

In [223]:
# Check the overall info of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50501 entries, 0 to 82550
Data columns (total 56 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Player                 50501 non-null  object
 1   Player-additional      50501 non-null  object
 2   League                 50501 non-null  object
 3   Season                 49953 non-null  object
 4   Home Continent         50110 non-null  object
 5   Home Country           50110 non-null  object
 6   Home City              50110 non-null  object
 7   Overall Value          50501 non-null  float64
 8   Offensive Performance  50498 non-null  float64
 9   Defensive Performance  50498 non-null  float64
 10  Biometrics             46302 non-null  float64
 11  Migration Difficulty   50110 non-null  float64
 12  OV: 1                  50501 non-null  object
 13  OV: 1 score            50501 non-null  float64
 14  OV: 2                  50501 non-null  object
 15  OV: 2 score            2811 non-null   float64
 16  OP: 1                  50501 non-null  object
 17  OP: 1 score            50498 non-null  float64
 18  OP: 2                  50501 non-null  object
 19  OP: 2 score            50498 non-null  float64
 20  OP: 3                  50498 non-null  object
 21  OP: 3 score            23290 non-null  float64
 22  OP: 4                  50498 non-null  object
 23  OP: 4 score            50498 non-null  float64
 24  OP: 5                  1972 non-null   object
 25  OP: 5 score            1972 non-null   float64
 26  OP: 6                  1972 non-null   object
 27  OP: 6 score            1972 non-null   float64
 28  DP: 1                  50501 non-null  object
 29  DP: 1 score            50498 non-null  float64
 30  DP: 2                  50501 non-null  object
 31  DP: 2 score            50498 non-null  float64
 32  DP: 3                  50498 non-null  object
 33  DP: 3 score            50498 non-null  float64
 34  DP: 4                  50498 non-null  object
 35  DP: 4 score            50498 non-null  float64
 36  DP: 5                  4783 non-null   object
 37  DP: 5 score            4783 non-null   float64
 38  DP: 6                  4783 non-null   object
 39  DP: 6 score            4783 non-null   float64
 40  DP: 7                  1972 non-null   object
 41  DP: 7 score            1972 non-null   float64
 42  DP: 8                  1972 non-null   object
 43  DP: 8 score            1972 non-null   float64
 44  DP: 9                  1972 non-null   object
 45  DP: 9 score            1972 non-null   float64
 46  DP: 10                 1972 non-null   object
 47  DP: 10 score           1972 non-null   float64
 48  B: 1                   50501 non-null  object
 49  B: 1 score             46302 non-null  float64
 50  B: 2                   50501 non-null  object
 51  B: 2 score             46302 non-null  float64
 52  MD: 1                  50501 non-null  object
 53  MD: 1 score            50110 non-null  float64
 54  MD: 2                  50501 non-null  object
 55  MD: 2 score            50110 non-null  float64
dtypes: float64(27), object(29)
memory usage: 22.0+ MB

In [224]:
# Summarize missing values
df.isnull().sum()

Player                       0
Player-additional            0
League                       0
Season                     548
Home Continent             391
Home Country               391
Home City                  391
Overall Value                0
Offensive Performance        3
Defensive Performance        3
Biometrics                4199
Migration Difficulty       391
OV: 1                        0
OV: 1 score                  0
OV: 2                        0
OV: 2 score              47690
OP: 1                        0
OP: 1 score                  3
OP: 2                        0
OP: 2 score                  3
OP: 3                        3
OP: 3 score              27211
OP: 4                        3
OP: 4 score                  3
OP: 5                    48529
OP: 5 score              48529
OP: 6                    48529
OP: 6 score              48529
DP: 1                        0
DP: 1 score                  3
DP: 2                        0
DP: 2 score                  3
DP: 3                        3
DP: 3 score                  3
DP: 4                        3
DP: 4 score                  3
DP: 5                    45718
DP: 5 score              45718
DP: 6                    45718
DP: 6 score              45718
DP: 7                    48529
DP: 7 score              48529
DP: 8                    48529
DP: 8 score              48529
DP: 9                    48529
DP: 9 score              48529
DP: 10                   48529
DP: 10 score             48529
B: 1                         0
B: 1 score                4199
B: 2                         0
B: 2 score                4199
MD: 1                        0
MD: 1 score                391
MD: 2                        0
MD: 2 score                391
dtype: int64

In [225]:
# Describe the statistical overview of the numerical fields
df.describe()

,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty,OV: 1 score,OV: 2 score,OP: 1 score,OP: 2 score,OP: 3 score,...,DP: 5 score,DP: 6 score,DP: 7 score,DP: 8 score,DP: 9 score,DP: 10 score,B: 1 score,B: 2 score,MD: 1 score,MD: 2 score
count,50501.000000,50498.000000,50498.000000,46302.000000,50110.000000,50501.000000,2811.000000,50498.000000,50498.000000,23290.000000,...,4783.000000,4783.000000,1972.000000,1972.000000,1972.000000,1972.000000,46302.000000,46302.000000,50110.000000,50110.000000
mean,23.790070,12.716955,13.538897,49.372651,0.147334,24.168973,6.510139,10.383853,11.142457,13.587106,...,9.498348,14.909722,2.434584,0.933722,2.092901,2.181187,55.347467,43.398747,0.164726,0.140375
std,11.287677,12.551828,13.532611,12.834444,0.191224,10.675200,24.674857,11.719226,13.517361,29.969684,...,10.872102,15.655012,8.324364,7.626473,7.346902,6.879064,16.185235,14.557829,0.258798,0.140721
min,0.000000,0.000000,0.000000,-155.200000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-264.800000,-45.600000,0.000000,0.000000
25%,16.500000,2.800000,0.000000,41.700000,0.000000,17.400000,0.000000,0.500000,0.900000,0.000000,...,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,47.100000,32.500000,0.000000,0.000000
50%,22.200000,9.600000,10.500000,49.400000,0.000000,22.200000,0.000000,6.800000,6.200000,3.100000,...,6.500000,11.100000,0.000000,0.000000,0.000000,0.000000,56.700000,43.200000,0.000000,0.100000
75%,28.500000,19.000000,26.400000,57.500000,0.200000,28.900000,0.000000,16.300000,16.900000,16.600000,...,15.900000,22.400000,0.000000,0.000000,0.000000,0.000000,65.100000,52.975000,0.200000,0.200000
max,100.000000,151.000000,97.800000,96.500000,0.800000,100.000000,100.000000,100.000000,103.100000,600.000000,...,74.200000,83.000000,171.400000,250.000000,99.200000,74.100000,100.000000,100.000000,1.000000,0.700000

### Value checking

In [226]:
# Count rows that have NaN in any of the specified columns
df[['Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']].isnull().any(axis=1).sum()

4552

In [227]:
# # Drop rows with NaN in any of the specified columns
# df_small = df.dropna(subset=['Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty'])

# # Verify the operation by checking the new size of the dataframe
# df_small.shape

In [228]:
# Define the columns to check
columns_to_check = ['Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']

In [229]:
# column = 'Overall Value'
# df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

In [230]:
# column = 'Offensive Performance'
# op_df = df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

In [231]:
# column = 'Defensive Performance'
# dp_df = df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

In [232]:
# column = 'Biometrics'
# df_bm = df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

In [233]:
# column = 'Migration Difficulty'
# df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

In [234]:
# Drop values not in [0,100]
for column in columns_to_check:
    # df = df[(df[column] >= 0) & (df[column] <= 100)]
    df[column] = np.clip(df[column], 0, 100)

In [235]:
# Define the target mean for normalization
target_mean = 50

# Iterate over each group in the dataframe grouped by 'League'
for league, group in df.groupby('League'):
    print(f'Processing league: {league}')
    for column in columns_to_check:
        print(f'\tStandardizing: {column}')

        # Calculate mean and standard deviation of the column for the current league
        mean = group[column].mean()
        std = group[column].std()
        min_ = group[column].min()
        max_ = group[column].max()
        print(f'\t\tMean: {mean:.2f}, Std: {std:.2f}, Min: {min_:.2f}, Max: {max_:.2f}')

        # Calculate scale to bring mean to target_mean while considering the min/max after shifting
        min_after_shift = min_ - mean + target_mean
        max_after_shift = max_ - mean + target_mean

        # Calculate scale factors to avoid exceeding [0, 100]
        scale_down = min(target_mean / (target_mean - min_after_shift), (100 - target_mean) / (max_after_shift - target_mean))

        # Apply scaling and shifting
        group[column] = (group[column] - mean) * scale_down + target_mean

        # Clip values to ensure they remain within [0, 100]
        group[column] = np.clip(group[column], 0, 100).round(1)

        # Update the main dataframe with the normalized data for the current league and column
        df.loc[group.index, column] = group[column]

        # Display the new statistics for the column
        mean = group[column].mean()
        std = group[column].std()
        min_ = group[column].min()
        max_ = group[column].max()
        print(f'\t\tMean: {mean:.2f}, Std: {std:.2f}, Min: {min_:.2f}, Max: {max_:.2f}\n')

Processing league: MLB
	Standardizing: Overall Value
		Mean: 24.22, Std: 5.28, Min: 10.00, Max: 65.60
		Mean: 50.00, Std: 6.38, Min: 32.80, Max: 100.00

	Standardizing: Offensive Performance
		Mean: 12.28, Std: 14.77, Min: 0.00, Max: 100.00
		Mean: 50.00, Std: 8.42, Min: 43.00, Max: 100.00

	Standardizing: Defensive Performance
		Mean: 28.27, Std: 4.09, Min: 0.00, Max: 82.50
		Mean: 50.00, Std: 3.77, Min: 23.90, Max: 100.00

	Standardizing: Biometrics
		Mean: 51.27, Std: 9.67, Min: 21.60, Max: 87.00
		Mean: 50.00, Std: 13.53, Min: 8.50, Max: 100.00

	Standardizing: Migration Difficulty
		Mean: 0.18, Std: 0.15, Min: 0.00, Max: 0.80
		Mean: 50.02, Std: 11.89, Min: 35.00, Max: 100.00

Processing league: MLS
	Standardizing: Overall Value
		Mean: 44.30, Std: 10.32, Min: 0.00, Max: 100.00
		Mean: 50.00, Std: 9.26, Min: 10.20, Max: 100.00

	Standardizing: Offensive Performance
		Mean: 7.30, Std: 9.13, Min: 0.00, Max: 69.90
		Mean: 50.01, Std: 7.29, Min: 44.20, Max: 100.00

	Standardizing: Defensive Performance
		Mean: 13.95, Std: 10.89, Min: 0.00, Max: 75.50
		Mean: 50.00, Std: 8.85, Min: 38.70, Max: 100.00

	Standardizing: Biometrics
		Mean: 44.24, Std: 14.09, Min: 5.40, Max: 88.80
		Mean: 50.00, Std: 15.82, Min: 6.40, Max: 100.00

	Standardizing: Migration Difficulty
		Mean: 0.27, Std: 0.17, Min: 0.00, Max: 0.80
		Mean: 50.02, Std: 16.28, Min: 24.40, Max: 100.00

Processing league: NBA
	Standardizing: Overall Value
		Mean: 13.33, Std: 16.16, Min: 1.60, Max: 85.80
		Mean: 50.00, Std: 11.15, Min: 41.90, Max: 100.00

	Standardizing: Offensive Performance
		Mean: 12.29, Std: 10.23, Min: 0.00, Max: 62.40
		Mean: 49.99, Std: 10.23, Min: 37.70, Max: 100.00

	Standardizing: Defensive Performance
		Mean: 13.54, Std: 10.01, Min: 0.00, Max: 72.00
		Mean: 50.00, Std: 8.56, Min: 38.40, Max: 100.00

	Standardizing: Biometrics
		Mean: 53.50, Std: 11.71, Min: 16.20, Max: 96.50
		Mean: 50.00, Std: 13.61, Min: 6.60, Max: 100.00

	Standardizing: Migration Difficulty
		Mean: 0.34, Std: 0.22, Min: 0.00, Max: 0.80
		Mean: 50.01, Std: 24.17, Min: 13.20, Max: 100.00

Processing league: NFL
	Standardizing: Overall Value
		Mean: 25.52, Std: 8.59, Min: 15.60, Max: 75.00
		Mean: 49.99, Std: 8.68, Min: 40.00, Max: 100.00

	Standardizing: Offensive Performance
		Mean: 2.38, Std: 5.24, Min: 0.00, Max: 38.40
		Mean: 49.96, Std: 7.29, Min: 46.70, Max: 100.00

	Standardizing: Defensive Performance
		Mean: 2.57, Std: 5.79, Min: 0.00, Max: 97.80
		Mean: 50.03, Std: 3.03, Min: 48.70, Max: 100.00

	Standardizing: Biometrics
		Mean: 51.14, Std: 15.38, Min: 0.00, Max: 91.30
		Mean: 50.00, Std: 15.04, Min: 0.00, Max: 89.30

	Standardizing: Migration Difficulty
		Mean: 0.23, Std: 0.23, Min: 0.00, Max: 0.80
		Mean: 50.00, Std: 19.91, Min: 30.00, Max: 100.00

Processing league: NHL
	Standardizing: Overall Value
		Mean: 22.49, Std: 11.09, Min: 7.50, Max: 99.20
		Mean: 50.00, Std: 7.23, Min: 40.20, Max: 100.00

	Standardizing: Offensive Performance
		Mean: 14.28, Std: 11.36, Min: 0.00, Max: 99.50
		Mean: 50.00, Std: 6.67, Min: 41.60, Max: 100.00

	Standardizing: Defensive Performance
		Mean: 5.71, Std: 10.46, Min: 0.00, Max: 69.50
		Mean: 49.99, Std: 8.21, Min: 45.50, Max: 100.00

	Standardizing: Biometrics
		Mean: 48.22, Std: 12.46, Min: 5.60, Max: 95.20
		Mean: 50.00, Std: 13.27, Min: 4.60, Max: 100.00

	Standardizing: Migration Difficulty
		Mean: 0.09, Std: 0.18, Min: 0.00, Max: 0.80
		Mean: 49.96, Std: 12.90, Min: 43.70, Max: 100.00

In [236]:
# Define a function to compute the weighted mean for each row
def weighted_mean(row):
    weights = {
        'Overall Value': 0.30,
        'Biometrics': 0.15,
        'Migration Difficulty': 0.15
    }
    # Determine which performance metric gets the higher weight
    if row['Offensive Performance'] > row['Defensive Performance']:
        weights['Offensive Performance'] = 0.25
        weights['Defensive Performance'] = 0.15
    else:
        weights['Offensive Performance'] = 0.15
        weights['Defensive Performance'] = 0.25
    
    # Calculate the weighted mean
    weighted_sum = 0
    for column in weights:
        weighted_sum += row[column] * weights[column]
    
    return round(weighted_sum, 1)

In [237]:

df.to_csv('./formatted/data_all.csv', index=False)

df['Mean'] = df[columns_to_split].mean(axis=1).round(1)
# Compute the weighted mean for each row
# df['Mean'] = df.apply(weighted_mean, axis=1)

df.sort_values(by='Mean', ascending=False, inplace=True)

# Create a 'Rank' column based on the sorting
df['Rank'] = range(1, len(df) + 1)

# Group by 'Player-additional' and take only max of 'Rank' column per group
df = df.sort_values(by='Rank', ascending=True)  # Make sure the lowest rank (best) comes first

In [238]:
# Get the index of the best rank for each player
idx = df.groupby('Player-additional')['Rank'].idxmin()

# Use the index to select the rows
df_players = df.loc[idx]
df_players = df_players.sort_values(by='Rank', ascending=True)
df_players['Rank'] = range(1, len(df_players) + 1)
df_players = df_players[['Rank', 'Player', 'League', 'Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']].sort_values(by='Rank')

df_players.to_csv('./formatted/data_concise.csv', index=False)
df_players

,Rank,Player,League,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty
1318,1,Nikola JokiÄ‡,NBA,99.1,93.6,72.7,68.0,78.3
1698,2,Yao Ming,NBA,91.4,62.7,65.7,89.2,100.0
71146,3,Alex Ovechkin,NHL,85.7,79.1,73.4,75.4,85.9
14261,4,Robert Griffin III,NFL,100.0,100.0,48.7,45.3,100.0
62,5,Giannis Antetokounmpo,NBA,96.0,82.5,75.2,57.2,78.3
...,...,...,...,...,...,...,...,...
1172,10672,D'Moi Hodge,NBA,44.4,40.0,39.5,28.8,13.2
2021,10673,Kevin Pangos,NBA,44.5,41.5,39.5,22.5,13.2
648,10674,Guillermo DÃ­az,NBA,44.4,38.4,38.4,25.8,13.2
2432,10675,Gino Sovran,NBA,44.5,39.0,38.4,21.5,13.2
149,10676,Norm Baker,NBA,44.4,37.7,38.4,18.5,13.2

In [241]:
# Group by 'Player-additional' and calculate the mean for the specified columns
columns_to_average = ['Rank', 'Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']
df_avg = df.groupby('Player-additional')[columns_to_average].mean().reset_index()

# Round the columns to one decimal place
df_avg = df_avg.round(1)

# Merge the average values back with the original DataFrame to keep the 'Player' and 'League' columns
df_players = pd.merge(df_avg, df[['Player-additional', 'Player', 'League']].drop_duplicates(), on='Player-additional', how='left')

# Sort the DataFrame by 'Rank' to reflect the new rankings based on average values
df_players = df_players.sort_values(by='Rank')

# Optionally, reset the rank to be consecutive integers
df_players['Rank'] = range(1, len(df_players) + 1)

# Select columns for the final DataFrame
df_players = df_players[['Rank', 'Player', 'League', 'Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']]

# Save to CSV
df_players.to_csv('./formatted/data_concise.csv', index=False)

# Display the final DataFrame
df_players

,Rank,Player,League,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty
7260,1,Yao Ming,NBA,88.7,58.6,61.2,89.2,100.0
7891,2,Alex Ovechkin,NHL,69.0,68.8,67.2,75.4,85.9
2951,3,Zdeno ChÃ¡ra,NHL,61.3,49.3,66.9,99.0,85.9
9273,4,Kodai Senga,MLB,67.7,63.0,76.9,53.5,91.9
487,5,Miguel AlmirÃ³n,MLS,78.1,75.3,62.9,40.3,90.5
...,...,...,...,...,...,...,...,...
5268,10720,D'Moi Hodge,NBA,44.4,40.0,39.5,28.8,13.2
7944,10721,Kevin Pangos,NBA,44.5,41.5,39.5,22.5,13.2
3641,10722,Guillermo DÃ­az,NBA,44.4,38.4,38.4,25.8,13.2
9574,10723,Gino Sovran,NBA,44.5,39.0,38.4,21.5,13.2
1914,10724,Norm Baker,NBA,44.4,37.7,38.4,18.5,13.2

## Adjustments

In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = './formatted/data_all.csv'
df = pd.read_csv(file_path)

/var/folders/p8/3975cv191_3dz5xbyjd745y80000gn/T/ipykernel_14327/789338920.py:5: DtypeWarning: Columns (3,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [2]:
df.columns

Index(['Player', 'Player-additional', 'League', 'Season', 'Home Continent',
       'Home Country', 'Home City', 'Overall Value', 'Offensive Performance',
       'Defensive Performance', 'Biometrics', 'Migration Difficulty', 'OV: 1',
       'OV: 1 score', 'OV: 2', 'OV: 2 score', 'OP: 1', 'OP: 1 score', 'OP: 2',
       'OP: 2 score', 'OP: 3', 'OP: 3 score', 'OP: 4', 'OP: 4 score', 'OP: 5',
       'OP: 5 score', 'OP: 6', 'OP: 6 score', 'DP: 1', 'DP: 1 score', 'DP: 2',
       'DP: 2 score', 'DP: 3', 'DP: 3 score', 'DP: 4', 'DP: 4 score', 'DP: 5',
       'DP: 5 score', 'DP: 6', 'DP: 6 score', 'DP: 7', 'DP: 7 score', 'DP: 8',
       'DP: 8 score', 'DP: 9', 'DP: 9 score', 'DP: 10', 'DP: 10 score', 'B: 1',
       'B: 1 score', 'B: 2', 'B: 2 score', 'MD: 1', 'MD: 1 score', 'MD: 2',
       'MD: 2 score'],
      dtype='object')

In [3]:
df = df[['Player', 'Player-additional', 'League', 'Season', 'Home Continent','Home Country', 'Home City', 'Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']]

df[['Season', 'Season_ext']] = df['Season'].str.split("-", expand=True)
df = df.drop(columns=['Season_ext'])

In [4]:
df = df.dropna(subset=['Season'])
df['Season'] = df['Season'].astype(float)
df['Season'] = df['Season'].astype(int)

In [5]:
len(df)

48604

In [6]:
df.dropna(how='any', inplace=True)

In [7]:
len(df)

44125

In [8]:
df['Season'].nunique()

154

In [10]:
print(df['Season'].nunique())

154

In [9]:
df.to_csv('./formatted/data_all_clean.csv', index=False)
sorted(df['Season'].unique())

[1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 1903,
 1904,
 1905,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1912,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024]