In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = './formatted/combined_formatted.csv'
df = pd.read_csv(file_path)

In [2]:
df[df['Player-additional'] == "mingya01"]

,Player,Player-additional,League,Season,Home Continent,Home Country,Home City,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty
1692,Yao Ming,mingya01,NBA,2002-03,Asia,China,Shanghai,8.7:40.3448275862069 1.0:100.0,27.401340282948624 11.769759450171822 26.39885...,147.0:32.23684210526316 31.0:10.29900332225913...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1693,Yao Ming,mingya01,NBA,2003-04,Asia,China,Shanghai,11.4:49.6551724137931 1.0:100.0,35.5174981384959 10.481099656357388 34.2180774...,156.0:34.21052631578947 22.0:7.308970099667774...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1694,Yao Ming,mingya01,NBA,2004-05,Asia,China,Shanghai,10.7:47.241379310344826 1.0:100.0,36.36137999503599 5.240549828178694 35.9068627...,160.0:35.08771929824562 34.0:11.29568106312292...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1695,Yao Ming,mingya01,NBA,2005-06,Asia,China,Shanghai,8.6:40.0 1.0:100.0,31.546289401836685 7.302405498281787 43.722050...,94.0:20.614035087719298 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1696,Yao Ming,mingya01,NBA,2006-07,Asia,China,Shanghai,7.4:35.86206896551724 1.0:100.0,29.833705634152395 8.075601374570446 49.101307...,94.0:20.614035087719298 17.0:5.647840531561462...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1697,Yao Ming,mingya01,NBA,2007-08,Asia,China,Shanghai,8.3:38.96551724137931 1.0:100.0,30.007446016381238 11.082474226804123 43.10160...,111.0:24.342105263157894 25.0:8.30564784053156...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1698,Yao Ming,mingya01,NBA,2008-09,Asia,China,Shanghai,10.6:46.89655172413793 1.0:100.0,37.577562670637874 11.769759450171822 38.55360...,150.0:32.89473684210526 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1699,Yao Ming,mingya01,NBA,2010-11,Asia,China,Shanghai,0.3:11.379310344827585 1.0:100.0,1.2658227848101267 0.3436426116838488 19.99999...,8.0:1.7543859649122806 0.0:0.0 20.0:1.80018001...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185

### Player column nan

In [3]:
# Count the number of missing values in the 'player' column
df[df['Player'].isnull()]

Empty DataFrame
Columns: [Player, Player-additional, League, Season, Home Continent, Home Country, Home City, Overall Value, Offensive Performance, Defensive Performance, Biometrics, Migration Difficulty]
Index: []

In [4]:
# Drop rows where 'player' column has NaN values
df = df.dropna(subset=['Player'])

### Overall Value nan

In [5]:
df[df['Overall Value'].isnull()]

Empty DataFrame
Columns: [Player, Player-additional, League, Season, Home Continent, Home Country, Home City, Overall Value, Offensive Performance, Defensive Performance, Biometrics, Migration Difficulty]
Index: []

In [6]:
df[df['Player-additional'] == "mingya01"]

,Player,Player-additional,League,Season,Home Continent,Home Country,Home City,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty
1692,Yao Ming,mingya01,NBA,2002-03,Asia,China,Shanghai,8.7:40.3448275862069 1.0:100.0,27.401340282948624 11.769759450171822 26.39885...,147.0:32.23684210526316 31.0:10.29900332225913...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1693,Yao Ming,mingya01,NBA,2003-04,Asia,China,Shanghai,11.4:49.6551724137931 1.0:100.0,35.5174981384959 10.481099656357388 34.2180774...,156.0:34.21052631578947 22.0:7.308970099667774...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1694,Yao Ming,mingya01,NBA,2004-05,Asia,China,Shanghai,10.7:47.241379310344826 1.0:100.0,36.36137999503599 5.240549828178694 35.9068627...,160.0:35.08771929824562 34.0:11.29568106312292...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1695,Yao Ming,mingya01,NBA,2005-06,Asia,China,Shanghai,8.6:40.0 1.0:100.0,31.546289401836685 7.302405498281787 43.722050...,94.0:20.614035087719298 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1696,Yao Ming,mingya01,NBA,2006-07,Asia,China,Shanghai,7.4:35.86206896551724 1.0:100.0,29.833705634152395 8.075601374570446 49.101307...,94.0:20.614035087719298 17.0:5.647840531561462...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1697,Yao Ming,mingya01,NBA,2007-08,Asia,China,Shanghai,8.3:38.96551724137931 1.0:100.0,30.007446016381238 11.082474226804123 43.10160...,111.0:24.342105263157894 25.0:8.30564784053156...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1698,Yao Ming,mingya01,NBA,2008-09,Asia,China,Shanghai,10.6:46.89655172413793 1.0:100.0,37.577562670637874 11.769759450171822 38.55360...,150.0:32.89473684210526 30.0:9.966777408637874...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185
1699,Yao Ming,mingya01,NBA,2010-11,Asia,China,Shanghai,0.3:11.379310344827585 1.0:100.0,1.2658227848101267 0.3436426116838488 19.99999...,8.0:1.7543859649122806 0.0:0.0 20.0:1.80018001...,228.6:96.48382559774964 310.0:77.97356828193833,zh:1.0 9899.698676956645:0.49405857402154185

In [7]:
def column_name_to_initials(column_name):
    return ''.join([word[0] for word in column_name.split()]).upper()

In [8]:
import numpy as np


# Define the columns to be split
columns_to_split = ['Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']

# Loop through each column, split by ' ' to separate entries, then split by ':' to create subcolumns
for column in columns_to_split:
    # Fill empty strings '' with nan values
    df[column] = df[column].replace('', np.nan)
    # Handle missing values by replacing them with a placeholder that ensures proper splitting
    df[column] = df[column].fillna(': ')
    
    # Split into initial parts
    sub_cols = df[column].str.split(' ', expand=True)
    
    for i in range(sub_cols.shape[1]): 
        # Create names for the sub-columns
        sub_col_name = f'{column_name_to_initials(column)}: {i+1}'
        sub_col_score_name = f'{column_name_to_initials(column)}: {i+1} score'
        
        # Split each part into value and score
        df[[sub_col_name, sub_col_score_name]] = sub_cols[i].str.split(':', expand=True)

        # Handle conversion to float for the score columns and ignore the value columns
        try:
            # df[sub_col_score_name] = df[sub_col_score_name].fillna(0.0)
            df[sub_col_score_name] = pd.to_numeric(df[sub_col_score_name], errors='coerce')
            df[sub_col_score_name] = df[sub_col_score_name].astype(float).round(1)
        except ValueError:
            print(f'Error converting {sub_col_score_name} to float')

    # Compute the average of the score marked subcolumns for each main column
    score_subcolumns = [f'{column_name_to_initials(column)}: {j+1} score' for j in range(sub_cols.shape[1])]
    print("score_subcolumns:", score_subcolumns)
    df[column] = df[score_subcolumns].mean(axis=1, skipna=True).round(1)

score_subcolumns: ['OV: 1 score', 'OV: 2 score']
score_subcolumns: ['OP: 1 score', 'OP: 2 score', 'OP: 3 score', 'OP: 4 score', 'OP: 5 score', 'OP: 6 score']
score_subcolumns: ['DP: 1 score', 'DP: 2 score', 'DP: 3 score', 'DP: 4 score', 'DP: 5 score', 'DP: 6 score', 'DP: 7 score', 'DP: 8 score', 'DP: 9 score', 'DP: 10 score']
score_subcolumns: ['B: 1 score', 'B: 2 score']
score_subcolumns: ['MD: 1 score', 'MD: 2 score']

In [10]:
df[df['Player-additional'] == "mingya01"]

In [8]:
for column in score_subcolumns:
    print(f"{column}: {df[column].isna().sum()}")

MD: 1 score: 32441
MD: 2 score: 32441

In [9]:
df.head()

,Player,Player-additional,League,Season,Home Continent,Home Country,Home City,Overall Value,Offensive Performance,Defensive Performance,...,DP: 10,DP: 10 score,B: 1,B: 1 score,B: 2,B: 2 score,MD: 1,MD: 1 score,MD: 2,MD: 2 score
0,Alaa Abdelnaby,abdelal01,NBA,1990-91,Africa,Egypt,Cairo,6.0,NaN,4.6,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5
1,Alaa Abdelnaby,abdelal01,NBA,1991-92,Africa,Egypt,Cairo,8.8,NaN,10.0,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5
2,Alaa Abdelnaby,abdelal01,NBA,1992-93,Africa,Egypt,Cairo,8.6,NaN,11.5,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5
3,Alaa Abdelnaby,abdelal01,NBA,1993-94,Africa,Egypt,Cairo,5.0,NaN,5.3,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5
4,Alaa Abdelnaby,abdelal01,NBA,1994-95,Africa,Egypt,Cairo,5.7,NaN,6.1,...,None,NaN,208.3,67.9,240.0,47.1,ar,1.0,9040.996810544604,0.5

In [10]:
# Check the overall info of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82551 entries, 0 to 82550
Data columns (total 56 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Player                 82551 non-null  object
 1   Player-additional      82551 non-null  object
 2   League                 82551 non-null  object
 3   Season                 68329 non-null  object
 4   Home Continent         50110 non-null  object
 5   Home Country           50110 non-null  object
 6   Home City              50110 non-null  object
 7   Overall Value          82551 non-null  float64
 8   Offensive Performance  79722 non-null  float64
 9   Defensive Performance  82533 non-null  float64
 10  Biometrics             78350 non-null  float64
 11  Migration Difficulty   50110 non-null  float64
 12  OV: 1                  82551 non-null  object
 13  OV: 1 score            82551 non-null  float64
 14  OV: 2                  82551 non-null  object
 15  OV: 2 score            2811 non-null   float64
 16  OP: 1                  82551 non-null  object
 17  OP: 1 score            79722 non-null  float64
 18  OP: 2                  82551 non-null  object
 19  OP: 2 score            79722 non-null  float64
 20  OP: 3                  82533 non-null  object
 21  OP: 3 score            52514 non-null  float64
 22  OP: 4                  82533 non-null  object
 23  OP: 4 score            79722 non-null  float64
 24  OP: 5                  34007 non-null  object
 25  OP: 5 score            34007 non-null  float64
 26  OP: 6                  34007 non-null  object
 27  OP: 6 score            34007 non-null  float64
 28  DP: 1                  82551 non-null  object
 29  DP: 1 score            82533 non-null  float64
 30  DP: 2                  82551 non-null  object
 31  DP: 2 score            82533 non-null  float64
 32  DP: 3                  82533 non-null  object
 33  DP: 3 score            82533 non-null  float64
 34  DP: 4                  82533 non-null  object
 35  DP: 4 score            82533 non-null  float64
 36  DP: 5                  36818 non-null  object
 37  DP: 5 score            36818 non-null  float64
 38  DP: 6                  36818 non-null  object
 39  DP: 6 score            36818 non-null  float64
 40  DP: 7                  34007 non-null  object
 41  DP: 7 score            34007 non-null  float64
 42  DP: 8                  34007 non-null  object
 43  DP: 8 score            34007 non-null  float64
 44  DP: 9                  34007 non-null  object
 45  DP: 9 score            34007 non-null  float64
 46  DP: 10                 34007 non-null  object
 47  DP: 10 score           34007 non-null  float64
 48  B: 1                   82551 non-null  object
 49  B: 1 score             78350 non-null  float64
 50  B: 2                   82551 non-null  object
 51  B: 2 score             78350 non-null  float64
 52  MD: 1                  82551 non-null  object
 53  MD: 1 score            50110 non-null  float64
 54  MD: 2                  82551 non-null  object
 55  MD: 2 score            50110 non-null  float64
dtypes: float64(27), object(29)
memory usage: 35.3+ MB

In [11]:
# Summarize missing values
df.isnull().sum()

Player                       0
Player-additional            0
League                       0
Season                   14222
Home Continent           32441
Home Country             32441
Home City                32441
Overall Value                0
Offensive Performance     2829
Defensive Performance       18
Biometrics                4201
Migration Difficulty     32441
OV: 1                        0
OV: 1 score                  0
OV: 2                        0
OV: 2 score              79740
OP: 1                        0
OP: 1 score               2829
OP: 2                        0
OP: 2 score               2829
OP: 3                       18
OP: 3 score              30037
OP: 4                       18
OP: 4 score               2829
OP: 5                    48544
OP: 5 score              48544
OP: 6                    48544
OP: 6 score              48544
DP: 1                        0
DP: 1 score                 18
DP: 2                        0
DP: 2 score                 18
DP: 3                       18
DP: 3 score                 18
DP: 4                       18
DP: 4 score                 18
DP: 5                    45733
DP: 5 score              45733
DP: 6                    45733
DP: 6 score              45733
DP: 7                    48544
DP: 7 score              48544
DP: 8                    48544
DP: 8 score              48544
DP: 9                    48544
DP: 9 score              48544
DP: 10                   48544
DP: 10 score             48544
B: 1                         0
B: 1 score                4201
B: 2                         0
B: 2 score                4201
MD: 1                        0
MD: 1 score              32441
MD: 2                        0
MD: 2 score              32441
dtype: int64

In [12]:
# Describe the statistical overview of the numerical fields
df.describe()

,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty,OV: 1 score,OV: 2 score,OP: 1 score,OP: 2 score,OP: 3 score,...,DP: 5 score,DP: 6 score,DP: 7 score,DP: 8 score,DP: 9 score,DP: 10 score,B: 1 score,B: 2 score,MD: 1 score,MD: 2 score
count,82551.000000,79722.000000,82533.000000,78350.000000,50110.000000,82551.000000,2811.000000,79722.000000,79722.000000,52514.000000,...,36818.000000,36818.000000,34007.000000,34007.000000,34007.000000,34007.000000,78350.000000,78350.000000,50110.000000,50110.000000
mean,24.190699,8.414226,9.262038,48.252536,0.147334,24.422495,6.510139,6.766238,8.033422,5.482321,...,3.547018,7.107858,1.436760,1.028282,1.704658,3.073056,53.768836,42.737089,0.164726,0.140375
std,10.744974,11.554598,12.364766,15.891210,0.191224,10.347643,24.674857,10.740844,12.478407,21.010770,...,8.737705,12.779146,5.450055,4.506069,6.656524,8.994626,21.868487,15.410456,0.258798,0.140721
min,0.000000,-0.800000,0.000000,-155.200000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-264.800000,-45.600000,0.000000,0.000000
25%,18.800000,0.400000,0.000000,40.000000,0.000000,18.800000,0.000000,0.000000,0.900000,0.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,47.100000,31.000000,0.000000,0.000000
50%,21.900000,2.700000,0.200000,48.200000,0.000000,21.900000,0.000000,0.500000,1.100000,0.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,56.600000,41.700000,0.000000,0.100000
75%,28.100000,13.400000,20.900000,57.100000,0.200000,28.100000,0.000000,10.200000,10.900000,0.100000,...,0.000000,9.500000,0.000000,0.000000,0.000000,0.000000,64.700000,52.100000,0.200000,0.200000
max,100.000000,151.000000,97.800000,96.500000,0.800000,100.000000,100.000000,100.000000,103.100000,600.000000,...,87.100000,86.600000,171.400000,250.000000,158.700000,103.100000,100.000000,100.000000,1.000000,0.700000

### Value checking

In [13]:
# Count rows that have NaN in any of the specified columns
df[['Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']].isnull().any(axis=1).sum()

39389

In [14]:
# # Drop rows with NaN in any of the specified columns
# df_small = df.dropna(subset=['Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty'])

# # Verify the operation by checking the new size of the dataframe
# df_small.shape

In [15]:
# Define the columns to check
columns_to_check = ['Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']

In [16]:
column = 'Overall Value'
df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

Empty DataFrame
Columns: [Player, Player-additional, League, Season, Home Continent, Home Country, Home City, Overall Value, Offensive Performance, Defensive Performance, Biometrics, Migration Difficulty, OV: 1, OV: 1 score, OV: 2, OV: 2 score, OP: 1, OP: 1 score, OP: 2, OP: 2 score, OP: 3, OP: 3 score, OP: 4, OP: 4 score, OP: 5, OP: 5 score, OP: 6, OP: 6 score, DP: 1, DP: 1 score, DP: 2, DP: 2 score, DP: 3, DP: 3 score, DP: 4, DP: 4 score, DP: 5, DP: 5 score, DP: 6, DP: 6 score, DP: 7, DP: 7 score, DP: 8, DP: 8 score, DP: 9, DP: 9 score, DP: 10, DP: 10 score, B: 1, B: 1 score, B: 2, B: 2 score, MD: 1, MD: 1 score, MD: 2, MD: 2 score]
Index: []

[0 rows x 56 columns]

In [17]:
column = 'Offensive Performance'
op_df = df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

In [18]:
column = 'Defensive Performance'
dp_df = df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

In [19]:
column = 'Biometrics'
df_bm = df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

In [20]:
column = 'Migration Difficulty'
df[(df[column] < 0) | (df[column] > 100)].sort_values(column)

Empty DataFrame
Columns: [Player, Player-additional, League, Season, Home Continent, Home Country, Home City, Overall Value, Offensive Performance, Defensive Performance, Biometrics, Migration Difficulty, OV: 1, OV: 1 score, OV: 2, OV: 2 score, OP: 1, OP: 1 score, OP: 2, OP: 2 score, OP: 3, OP: 3 score, OP: 4, OP: 4 score, OP: 5, OP: 5 score, OP: 6, OP: 6 score, DP: 1, DP: 1 score, DP: 2, DP: 2 score, DP: 3, DP: 3 score, DP: 4, DP: 4 score, DP: 5, DP: 5 score, DP: 6, DP: 6 score, DP: 7, DP: 7 score, DP: 8, DP: 8 score, DP: 9, DP: 9 score, DP: 10, DP: 10 score, B: 1, B: 1 score, B: 2, B: 2 score, MD: 1, MD: 1 score, MD: 2, MD: 2 score]
Index: []

[0 rows x 56 columns]

In [21]:
# Drop values not in [0,100]
for column in columns_to_check:
    # df = df[(df[column] >= 0) & (df[column] <= 100)]
    df[column] = np.clip(df[column], 0, 100)

In [22]:
# Define the target mean for normalization
target_mean = 50

# Iterate over each group in the dataframe grouped by 'League'
for league, group in df.groupby('League'):
    print(f'Processing league: {league}')
    for column in columns_to_check:
        print(f'\tStandardizing: {column}')

        # Calculate mean and standard deviation of the column for the current league
        mean = group[column].mean()
        std = group[column].std()
        min_ = group[column].min()
        max_ = group[column].max()
        print(f'\t\tMean: {mean:.2f}, Std: {std:.2f}, Min: {min_:.2f}, Max: {max_:.2f}')

        # Calculate scale to bring mean to target_mean while considering the min/max after shifting
        min_after_shift = min_ - mean + target_mean
        max_after_shift = max_ - mean + target_mean

        # Calculate scale factors to avoid exceeding [0, 100]
        scale_down = min(target_mean / (target_mean - min_after_shift), (100 - target_mean) / (max_after_shift - target_mean))

        # Apply scaling and shifting
        group[column] = (group[column] - mean) * scale_down + target_mean

        # Clip values to ensure they remain within [0, 100]
        group[column] = np.clip(group[column], 0, 100).round(1)

        # Update the main dataframe with the normalized data for the current league and column
        df.loc[group.index, column] = group[column]

        # Display the new statistics for the column
        mean = group[column].mean()
        std = group[column].std()
        min_ = group[column].min()
        max_ = group[column].max()
        print(f'\t\tMean: {mean:.2f}, Std: {std:.2f}, Min: {min_:.2f}, Max: {max_:.2f}\n')

Processing league: MLB
	Standardizing: Overall Value
		Mean: 24.22, Std: 5.28, Min: 10.00, Max: 65.60
		Mean: 50.00, Std: 6.38, Min: 32.80, Max: 100.00

	Standardizing: Offensive Performance
		Mean: 12.28, Std: 14.77, Min: 0.00, Max: 100.00
		Mean: 50.00, Std: 8.42, Min: 43.00, Max: 100.00

	Standardizing: Defensive Performance
		Mean: 28.27, Std: 4.09, Min: 0.00, Max: 82.50
		Mean: 50.00, Std: 3.77, Min: 23.90, Max: 100.00

	Standardizing: Biometrics
		Mean: 51.27, Std: 9.67, Min: 21.60, Max: 87.00
		Mean: 50.00, Std: 13.53, Min: 8.50, Max: 100.00

	Standardizing: Migration Difficulty
		Mean: 0.18, Std: 0.15, Min: 0.00, Max: 0.80
		Mean: 50.02, Std: 11.89, Min: 35.00, Max: 100.00

Processing league: MLS
	Standardizing: Overall Value
		Mean: 44.30, Std: 10.32, Min: 0.00, Max: 100.00
		Mean: 50.00, Std: 9.26, Min: 10.20, Max: 100.00

	Standardizing: Offensive Performance
		Mean: 7.30, Std: 9.13, Min: 0.00, Max: 69.90
		Mean: 50.01, Std: 7.29, Min: 44.20, Max: 100.00

	Standardizing: Defensive Performance
		Mean: 13.95, Std: 10.89, Min: 0.00, Max: 75.50
		Mean: 50.00, Std: 8.85, Min: 38.70, Max: 100.00

	Standardizing: Biometrics
		Mean: 44.24, Std: 14.09, Min: 5.40, Max: 88.80
		Mean: 50.00, Std: 15.82, Min: 6.40, Max: 100.00

	Standardizing: Migration Difficulty
		Mean: 0.27, Std: 0.17, Min: 0.00, Max: 0.80
		Mean: 50.02, Std: 16.28, Min: 24.40, Max: 100.00

Processing league: NBA
	Standardizing: Overall Value
		Mean: 13.33, Std: 16.16, Min: 1.60, Max: 85.80
		Mean: 50.00, Std: 11.15, Min: 41.90, Max: 100.00

	Standardizing: Offensive Performance
		Mean: nan, Std: nan, Min: nan, Max: nan
		Mean: nan, Std: nan, Min: nan, Max: nan

	Standardizing: Defensive Performance
		Mean: 13.54, Std: 10.01, Min: 0.00, Max: 72.00
		Mean: 50.00, Std: 8.56, Min: 38.40, Max: 100.00

	Standardizing: Biometrics
		Mean: 53.50, Std: 11.71, Min: 16.20, Max: 96.50
		Mean: 50.00, Std: 13.61, Min: 6.60, Max: 100.00

	Standardizing: Migration Difficulty
		Mean: 0.34, Std: 0.22, Min: 0.00, Max: 0.80
		Mean: 50.01, Std: 24.17, Min: 13.20, Max: 100.00

Processing league: NFL
	Standardizing: Overall Value
		Mean: 24.86, Std: 9.73, Min: 3.10, Max: 100.00
		Mean: 50.02, Std: 6.47, Min: 35.50, Max: 100.00

	Standardizing: Offensive Performance
		Mean: 2.00, Std: 4.89, Min: 0.00, Max: 61.00
		Mean: 49.96, Std: 4.16, Min: 48.30, Max: 100.00

	Standardizing: Defensive Performance
		Mean: 2.52, Std: 5.57, Min: 0.00, Max: 97.80
		Mean: 50.01, Std: 2.92, Min: 48.70, Max: 100.00

	Standardizing: Biometrics
		Mean: 47.74, Std: 13.10, Min: 0.00, Max: 91.30
		Mean: 50.00, Std: 13.72, Min: 0.00, Max: 95.60

	Standardizing: Migration Difficulty
		Mean: 0.23, Std: 0.23, Min: 0.00, Max: 0.80
		Mean: 50.00, Std: 19.91, Min: 30.00, Max: 100.00

Processing league: NHL
	Standardizing: Overall Value
		Mean: 22.49, Std: 11.09, Min: 7.50, Max: 99.20
		Mean: 50.00, Std: 7.23, Min: 40.20, Max: 100.00

	Standardizing: Offensive Performance
		Mean: 14.28, Std: 11.36, Min: 0.00, Max: 99.50
		Mean: 50.00, Std: 6.67, Min: 41.60, Max: 100.00

	Standardizing: Defensive Performance
		Mean: 5.71, Std: 10.46, Min: 0.00, Max: 69.50
		Mean: 49.99, Std: 8.21, Min: 45.50, Max: 100.00

	Standardizing: Biometrics
		Mean: 48.22, Std: 12.46, Min: 5.60, Max: 95.20
		Mean: 50.00, Std: 13.27, Min: 4.60, Max: 100.00

	Standardizing: Migration Difficulty
		Mean: 0.09, Std: 0.18, Min: 0.00, Max: 0.80
		Mean: 49.96, Std: 12.90, Min: 43.70, Max: 100.00

In [23]:

df.to_csv('./formatted/data_all.csv', index=False)

df['Mean'] = df[columns_to_split].mean(axis=1).round(1)
df.sort_values(by='Mean', ascending=False, inplace=True)

# Create a 'Rank' column based on the sorting
df['Rank'] = range(1, len(df) + 1)

# Group by 'Player-additional' and take only max of 'Rank' column per group
df = df.sort_values(by='Rank', ascending=True)  # Make sure the lowest rank (best) comes first

idx = df.groupby('Player-additional')['Rank'].idxmin()

# Use the index to select the rows
df_players = df.loc[idx]
df_players = df_players.sort_values(by='Rank', ascending=True)
df_players['Rank'] = range(1, len(df_players) + 1)
df_players = df_players[['Rank', 'Player', 'League', 'Overall Value', 'Offensive Performance', 'Defensive Performance', 'Biometrics', 'Migration Difficulty']].sort_values(by='Rank')

In [24]:
df_players.to_csv('./formatted/data_concise.csv', index=False)
df_players

,Rank,Player,League,Overall Value,Offensive Performance,Defensive Performance,Biometrics,Migration Difficulty
1698,1,Yao Ming,NBA,91.4,NaN,65.7,89.2,100.0
71146,2,Alex Ovechkin,NHL,85.7,79.1,73.4,75.4,85.9
1316,3,Nikola JokiÄ‡,NBA,97.0,NaN,75.3,68.0,78.3
1769,4,Dikembe Mutombo,NBA,90.6,NaN,79.5,64.2,78.3
56324,5,Zdeno ChÃ¡ra,NHL,68.5,54.3,78.9,99.0,85.9
...,...,...,...,...,...,...,...,...
178,29278,J.J. Barea,NBA,48.3,NaN,47.4,14.3,13.2
648,29279,Guillermo DÃ­az,NBA,44.4,NaN,38.4,25.8,13.2
2021,29280,Kevin Pangos,NBA,44.5,NaN,39.5,22.5,13.2
2432,29281,Gino Sovran,NBA,44.5,NaN,38.4,21.5,13.2
149,29282,Norm Baker,NBA,44.4,NaN,38.4,18.5,13.2